# Node.js
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Build output
dist
build

# Logs
*.log
logs
*.out
*.err

# Git
.git
.gitignore

# IDE / Editor
.vscode
.idea
*.swp
*.swo
*.bak

# Env files (оставляем только локально, не в образе)
.env
.env.local
.env.*.local
